body{

}

/*---------------------------------------------BOOTSTRAP CROUSEL STARTS------------------------------------------------*/


/*---------------------------------------------BOOTSTRAP CROUSEL STARTS ENDS------------------------------------------------*/

/*--------------------------------------------moving text 1-------------------------------------------------------*/

.moving_text_module_1{
background-color: rgba(0,0,0,1);
}
.moving_text_div{
  margin: 0 2rem;
  padding: 5px 20px;

}
.moving_text_div>a{
  color: white;
  text-decoration-line: none;
}

/*--------------------------------------------moving text 1 ends-------------------------------------------------------*/

/*-----------------------------------Notice Bpard starts ------------------------------------------------------------------*/
.notice_board_module{
  margin: 3rem 1rem;
}

/*.notice_board_module{
  padding: 1rem;
  margin: 3rem 0rem;
  border: 2px solid blue;
  text-align: center;
}
.notice_board_h1{
  font-family: "Roboto Condensed";
}
.actual_notices{
  font-family: "Roboto Condensed";
  height: 20rem;
  padding: 2rem 0.8rem;
  box-shadow: ;
  border-radius: 15px;
  overflow-y: scroll;
}*/

/*-----------------------------------------Notice Board Ends----------------------------------------------------------------*/

/*---------------------------------------------------Heads Message-------------------------------------------------------*/

.heads_message_module{

}
.message_heading{
  text-align: center;
  padding: 1.5rem 2rem;
  background: rgb(0,152,215);
  background: linear-gradient(90deg, rgba(0,152,215,0.2773727053687686) 10%, rgba(0,194,211,0.2773727053687686) 80%);
}
.message_content{
  background: rgba(150,150,150,0.2);
  padding: 1rem;
}
.actual_heads_message{
  border-radius: 5px;
  border: 2px solid black;
}
.principals_message{
  border: 2px solid black;
  border-radius: 5px;
}
.heads_photo{
  margin: 0 1rem 1rem 0;
  width: 220px;
  float: left;
}
.principal_photo{
  margin:0 0 1rem 1rem;
  width: 200px;
  float: right;
}

/*-------------------------------------------------inside headsmessage SIDE LINKS----------------------------------------------*/



.side-links-group{
  margin-left: 2rem;
  padding: 3.5rem 0;
}
.side-link{
  text-align: center;
  display: block;
  margin: 0.5rem 0;
  padding: 3rem 4rem;
  border-radius: 3px;
}
@media (max-width: 768px){
  .side-links-group{
    margin-left: 0rem;
  }
}
@media (max-width: 992px) {
  .side-links-group{
    margin-left: 0rem;
  }
}
/*-------------------------------------------------inside headsmessage SIDE LINKS----------------------------------------------*/


/*-------------------------------------------------heads Message Ends-----------------------------------------------------*/




/*--------------------------------------------------------------school activities Starts---------------------------------------*/

.school_activities_photos_wrapper{
  margin: 3rem auto;
  /*padding: given inline */
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  justify-content:space-around;
  border-radius: 9px;
  background: rgb(52,93,251);
  background: linear-gradient(90deg, rgba(52,93,251,1) 0%, rgba(158,75,235,1) 100%);


}
.grid_images{
  margin: 0.3rem;
  width: 300px;
  border-radius: 4px;
  box-shadow: 5px 5px 10px rgb(110,110,110);
}

@media (max-width: 992px) {
  .school_activities_photos_wrapper{
    margin: 3rem auto;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    background: rgb(52,93,251);
    background: linear-gradient(90deg, rgba(52,93,251,1) 0%, rgba(158,75,235,1) 100%);


  }
  .grid_images{
    margin:0.3rem;
    width: 150px;
    box-shadow: 5px 5px 10px rgb(110,110,110);
  }

}
/*---------------------------------------------------------------school activities Ends-----------------------------------------*/
