/*---------------------------------------------BOOTSTRAP CROUSEL STARTS------------------------------------------------*/


/*---------------------------------------------BOOTSTRAP CROUSEL STARTS ENDS------------------------------------------------*/

/*-----------------------------------Notice Bpard starts ------------------------------------------------------------------*/

.notice_board_module{
  padding: 1rem;
  margin: 3rem 0;
  border: 2px solid blue;
  border-radius: 20px;
  text-align: center;
}
.notice_board_h1{
  font-family: "Roboto Condensed";
}
.actual_notices{
  font-family: "Roboto Condensed";
  height: 20rem;
  padding: 2rem 0.8rem;
  box-shadow: ;
  border-radius: 15px;
  overflow-y: scroll;
}

/*-----------------------------------------Notice Board Ends----------------------------------------------------------------*/

/*---------------------------------------------------Heads Message-------------------------------------------------------*/

.heads_message_module{

}
.message_heading{
  text-align: center;
  padding: 1.5rem 2rem;
  background: rgb(0,152,215);
  background: linear-gradient(90deg, rgba(0,152,215,0.2773727053687686) 10%, rgba(0,194,211,0.2773727053687686) 80%);
}
.message_content{
  background: rgba(150,150,150,0.2);
  padding: 1rem;
}
.actual_heads_message{
  border-radius: 5px;
  border: 2px solid black;
}
.principals_message{
  border: 2px solid black;
  border-radius: 5px;
}
.heads_photo{
  margin: 0 1rem 1rem 0;
  width: 220px;
  float: left;
}
.principal_photo{
  margin:0 0 1rem 1rem;
  width: 200px;
  float: right;
}

/*-------------------------------------------------inside headsmessage SIDE LINKS----------------------------------------------*/



.side-links-group{
  margin-left: 2rem;
  padding: 3.5rem 0;
}
.side-link{
  text-align: center;
  display: block;
  margin: 0.5rem 0;
  padding: 3rem 4rem;
  border-radius: 3px;
}
@media (max-width: 768px){
  .side-links-group{
    margin-left: 0rem;
  }
}
@media (max-width: 992px) {
  .side-links-group{
    margin-left: 0rem;
  }
}
/*-------------------------------------------------inside headsmessage SIDE LINKS----------------------------------------------*/


/*-------------------------------------------------heads Message Ends-----------------------------------------------------*/
